/*
Colors:

Text: 1A1A1A
Green: #00B172
White: #FFF

*/
@import url("https://fonts.googleapis.com/css?family=Cabin");

body {
    font-family: "Cabin", sans-serif;
}

nav li {
    background-color: #FFF;
    text-color: black;
    list-style: none;
    display: inline-block;
    float: right;
    padding: 10px;
}

#landing-header {
    background-image: url("../images/landing.jpg");
    background-size: cover;
    clear: both;
    padding-top: 350px;
    padding-bottom: 350px;
    }

h1 {
    font-size: 100px;
    color: #FFF;
    text-align: center;
    }

